services:
  gateway:
      build:
        context: .
        args:
          SERVICE: gateway
      ports:
        - "8080:8080"
      env_file:
        - .env
      depends_on:
        - postgres
        - redis

  users-service:
    build:
      context: .
      args:
        SERVICE: users-service
    ports:
      - "50051:50051"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis

  auth-service:
    build:
      context: .
      args:
        SERVICE: auth-service
    ports:
      - "50052:50052"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    
  chat-service:
    build:
      context: .
      args:
        SERVICE: chat-service
    ports:
      - "50053:50053"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: messenger
      POSTGRES_USER: messenger
      POSTGRES_PASSWORD: messenger
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U messenger"]
      interval: 2s
      retries: 10
  
  redis:
    image: redis:8.4-alpine
    container_name: messenger-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 2s
      retries: 10

  tests:
    build:
      context: .
      dockerfile: Dockerfile.test
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    command: go test ./... -v
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      DOCKER_HOST: unix:///var/run/docker.sock

volumes:
  pgdata:
  
  redis-data:
